BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
AlwaysBreakAfterReturnType: TopLevel
SortIncludes: true
IncludeBlocks: Regroup

PointerAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

Cpp11BracedListStyle: true

AllowShortLambdasOnASingleLine: Inline
LambdaBodyIndentation: OuterScope
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4
IndentAccessModifiers: false
BreakBeforeBinaryOperators: true
AlignOperands: true
ColumnLimit: 80  # Or whatever high value fits your code style